terraform {
  backend "s3" {
    bucket         = "${bucket_name}"
    key            = "${key}.tfstate"
    region         = "${region}"
    use_lockfile   = true
    encrypt        = true
    profile        = "${profile}"
  }
}