image:
  registry: docker.io
  repository: bitnamilegacy/external-dns
provider: aws
aws:
  zoneType: ${zoneType}
policy: ${policy}
domainFilters:
  - "${domain}"
txtOwnerId: ${txtOwnerId}
serviceAccount:
  name: ${saname}
  annotations: 
    eks.amazonaws.com/role-arn: ${role}