apiVersion: v1
kind: ServiceAccount
metadata:
  name: admin-user
  namespace: ${namespace}
secrets:
  - name: admin-user-token

---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: admin-user-token
  namespace: ${namespace}
  annotations:
    kubernetes.io/service-account.name: 'admin-user'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: admin-user
    namespace: ${namespace}

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: read-only
  namespace: ${namespace}
secrets:
  - name: read-only-token

---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: read-only-token
  namespace: ${namespace}
  annotations:
    kubernetes.io/service-account.name: 'read-only'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: read-only
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
  - kind: ServiceAccount
    name: read-only
    namespace: ${namespace}

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: dashboard
  namespace: ${namespace}
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/load-balancer-name: ${alb_name}
    alb.ingress.kubernetes.io/group.name: ${alb_name}
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS":443}]'
    alb.ingress.kubernetes.io/target-group-attributes: stickiness.enabled=true,stickiness.lb_cookie.duration_seconds=60
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/certificate-arn: ${certificate_arn}
    alb.ingress.kubernetes.io/ssl-policy: ELBSecurityPolicy-TLS13-1-2-2021-06
    alb.ingress.kubernetes.io/backend-protocol: HTTPS
    alb.ingress.kubernetes.io/healthcheck-protocol: HTTPS
spec:
  rules:
    - host: ${url}
      http:
        paths:
          - pathType: ImplementationSpecific
            backend:
              service:
                name: kubernetes-dashboard-kong-proxy
                port:
                  number: 443

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: dashboard-redirect
  namespace: ${namespace}
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/load-balancer-name: ${alb_name}
    alb.ingress.kubernetes.io/group.name: ${alb_name}
    alb.ingress.kubernetes.io/scheme: ${alb_type}
    alb.ingress.kubernetes.io/actions.ssl-redirect: >-
      {"type":"redirect","redirectConfig":{"host":"#{host}","path":"/#{path}","port":"443","protocol":"HTTPS","query":"#{query}","statusCode":"HTTP_302"}}
spec:
  rules:
    - host: ${url}
      http:
        paths:
          - pathType: ImplementationSpecific
            backend:
              service:
                name: ssl-redirect
                port:
                  name: use-annotation
