kong:
  admin:
    tls:
      enabled: false

api:
  scaling:
    replicas: 2
  containers:
    resources:
      requests:
        cpu: 500m
        memory: 1024Mi
      limits:
        cpu: 1000m
        memory: 2048Mi
